.modal-content {
  max-width: 400px;
  margin: auto;
  font-size: 0.9rem;
}

.modal-body {
  padding-top: 0.5rem !important;
}

.small {
  font-size: 0.8rem !important;
}

.bg-light {
  background-color: #f3f4f6 !important;
}

.btn-dark-felosy {
  background: #111;
  color: white;
  border: none;
}

.btn-dark-felosy:hover {
  background: #222;
}

.btn-dark-felosy:disabled {
  background: #666;
  opacity: 0.7;
}

.form-control:focus,
.form-select:focus {
  background-color: #f8f9fa !important;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05) !important;
}
